body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-image: url(/Images/cookies.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

nav {
  /* background-color: rgba(125, 75, 24, 255); */
  background-color: rgba(87, 111, 35, 255);
  padding: 1em;
  border-radius: 1em;
  margin: 1em;
  opacity: 0.9;
}

ul {
  text-align: center;
}

li {
  display: inline;
  text-transform: uppercase;
  font-size: 35px;
  padding: 1em;
}

li a {
  text-decoration: none;
  color: rgba(168, 172, 175, 255);
  /* color: rgba(125, 75, 24, 255); */
}

/* table {
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
} */

.linkPicture {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  width: 50%;
  opacity: 0.9;
  border-radius: 1em;
  /* border: 5px solid rgba(87, 111, 35, 255); */
}

.col {
  padding-top: 15px;
  padding-bottom: 15px;
}

.col {
  border: 5px solid rgba(87, 111, 35, 255);
  margin: 15px;
  border-radius: 1em;
  background-color: rgba(168, 172, 175, 255);
  opacity: 0.9;
}

h1,
p {
  text-align: center;
  font-size: medium;
  padding-top: 5px;
}

#homeDiv {
  height: 90vh;
}
