body {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

body {
  background-image: url(/Images/cookies.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

nav {
  /* background-color: rgba(125, 75, 24, 255); */
  background-color: rgba(87, 111, 35, 255);
  padding: 1em;
  border-radius: 1em;
  margin: 1em;
  opacity: 0.9;
}

ul {
  text-align: center;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
  text-transform: uppercase;
  font-size: 35px;
  padding: 1em;
}

li a {
  text-decoration: none;
  color: rgba(168, 172, 175, 255);
  /* color: rgba(125, 75, 24, 255); */
}

/* table {
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
} */

.linkPicture {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  width: 50%;
  opacity: 0.9;
  border-radius: 1em;
  /* border: 5px solid rgba(87, 111, 35, 255); */
}

.col {
  padding-top: 15px;
  padding-bottom: 15px;
}

.col {
  border: 5px solid rgba(87, 111, 35, 255);
  margin: 15px;
  border-radius: 1em;
  background-color: rgba(168, 172, 175, 255);
  opacity: 0.9;
}

p {
  text-align: center;
  font-size: medium;
  padding: 10px 0;
}

#homeDiv {
  height: 90vh;
}
h1 {
  font-size: 20px;
  text-align: center;
  padding-top: 10px;
}
.Devyn,
.Craig {
  border: 5px solid rgba(87, 111, 35, 255);
  border-radius: 1em;
  height: 40%;
  padding: 70px;
  font-size: 70px;
  letter-spacing: 0.1em;
}

a:link,
a:visited {
  color: black;
}

.homeTitle {
  font-size: 50px;
  letter-spacing: 0.1em;
}
